/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'OpenDyslexic';
  src: url("OpenDyslexic/OpenDyslexic-Regular.otf") format("opentype"), url("OpenDyslexic/OpenDyslexic-Bold.otf") format("opentype"), url("OpenDyslexic/OpenDyslexic-Italic.otf") format("opentype"), url("OpenDyslexic/OpenDyslexic-BoldItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "OpenDyslexic", Verdana, sans;
  font-size: 16px;
  line-height: 1.5; }

h1,
h2,
h3 {
  color: #123767; }

h1 {
  font-size: 200%; }

h2 {
  font-size: 167%; }

h3 {
  font-size: 133%; }

header {
  padding: 1ex 1em;
  color: white;
  background-color: #123767;
  margin-bottom: 2rem; }
  header h1 {
    color: white;
    font-size: 200%; }
  header a,
  header a:visited {
    font-size: 130%;
    color: #FFC300;
    text-decoration: none; }
  header a:hover {
    color: white; }
  header ul {
    text-align: right;
    margin-right: 10em; }
    header ul li {
      display: inline-block;
      margin: 0ex 1ex; }

main {
  margin: 1em 2em; }

footer {
  margin-top: 4rem;
  color: white;
  background-color: #123767; }

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center; }

.project {
  display: block;
  border: #FFC300 4px solid;
  padding: 10px;
  min-width: 30em;
  min-height: 15ex; }
  .project:hover {
    border-color: #123767; }

/*# sourceMappingURL=styles.css.map */
