@import '_reset.scss';

@font-face {
    font-family: 'OpenDyslexic';
    src: url('OpenDyslexic/OpenDyslexic-Regular.otf') format('opentype'),
        url('OpenDyslexic/OpenDyslexic-Bold.otf') format('opentype'),
        url('OpenDyslexic/OpenDyslexic-Italic.otf') format('opentype'),
        url('OpenDyslexic/OpenDyslexic-BoldItalic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

$opendyslexic: 'OpenDyslexic', Verdana, sans;
$primary : #123767;
$secondary: white;
$tertiary: #FFC300;

body {
    font-family: $opendyslexic;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: $primary
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 167%;
}

h3 {
    font-size: 133%;
}

header {
    padding: 1ex 1em;
    color: $secondary;
    background-color: $primary;
    margin-bottom: 2rem;

    h1 {
        color: $secondary;
        font-size: 200%;
    }

    a,
    a:visited {
        font-size: 130%;
        color: $tertiary; 
        text-decoration: none;
    }
    a:hover {
        color: $secondary;
    }

    ul {
        text-align: right;
        margin-right: 10em;

        li {
            display: inline-block;
            margin: 0ex 1ex;
        }
    }
}

main {
    margin: 1em 2em;
}

footer {
    margin-top: 4rem;
    color: $secondary;
    background-color: $primary;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.project {
    &:hover {
        border-color: $primary;
    }
    display: block;
    border: $tertiary 4px solid;
    padding: 10px;
    min-width: 30em;
    min-height: 15ex;
}
