{% load static %}
{% load my_filters %} 
<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="MarrekNozka">

  <title>Title</title>
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="shortcut icon" href="favico.png" />
</head>

<body>

  <header>
    <h1>MarrekNožka portfolio</h1>
    <nav>
      <ul>
        <li><a href="{% url "about" %}">About</a></li>
        <li><a href="{% url "about" %}">Další</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block main %}
    {% endblock main %}
	</main>


  <footer>
    <p>Powered by: </p>
  </footer>




</body>
</html>

 <!-- vim:ft=htmldjango -->
