{% extends "base.html" %}
{% load my_filters %} 


{% block main %}

<h1>Index</h1>


<section class="projects">
    
{% for p  in projects %}
<div class="project">
    {{ p.name }}: {{ p.content | markdownify | safe }}
</div>
{% endfor %}

</section>

{% endblock main %}
